<%= form_with(model: proponente, local: true) do |form| %>
  <% if proponente.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p class="text-danger"><%= pluralize(proponente.errors.count, "error") %> prohibited this proponente from being saved:</p>
      </div>
    </div>
    <div class="message-body">
      <ul>
      <% proponente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row align-items-center">
    <div class="field col-sm-5">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :cpf %>
      <%= form.text_field :cpf, class: "form-control"  %>
    </div>

    <div class="field col-sm-4">
      <%= form.label :data_nascimento %>
      <br>
      <%= form.date_select :data_nascimento, class: "form-control"  %>
    </div>

    <div class="field col-sm-5">
      <%= form.label :logradouro %>
      <%= form.text_field :logradouro, class: "form-control"  %>
    </div>

    <div class="field col-sm-2">
      <%= form.label :numero %>
      <%= form.number_field :numero, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :bairro %>
      <%= form.text_field :bairro, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :cidade %>
      <%= form.text_field :cidade, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :estado %>
      <%= form.text_field :estado, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :cep %>
      <%= form.text_field :cep, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :telefone_pessoal %>
      <%= form.text_field :telefone_pessoal, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :telefone_referencia %>
      <%= form.text_field :telefone_referencia, class: "form-control"  %>
    </div>

    <div class="field col-sm-3">
      <%= form.label :salario %>
      <%= form.number_field :salario, class: "form-control" %>
    </div>
    
    <div class="field col-sm-3">
      <%= form.label :desconto_inss %>
      <%= form.number_field :desconto_inss, class: "form-control"%>
    </div>

  </div>
<div class="actions align-items-center col-sm-7">
    <%= form.submit class:"btn btn-outline-primary" %>
</div>
<% end %>
