<%= form_for(@proponente, local: true) do |form| %>
  <% if @proponente.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p class="text-danger"><%= pluralize(@proponente.errors.count, "erro") %> impediram este proponente de ser criado:</p>
      </div>
    </div>
    <div class="message-body">
      <ul>
      <% @proponente.errors.full_messages.each do |message| %>
        <% message.gsub('can\'t be blank'){'não pode ficar em branco'} %>
        <p><%= message %></p>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container" id="form-container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control text-center", id:"nome-input", placeholder: 'Digite apenas letras', maxlength: 60, size: 60 %>
      </div>

        <div class="col col-lg-6">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, class: "form-control text-center", id: "cpf", placeholder: 'Digite apenas números', maxlength: 14, size: 14 %>
        </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :data_nascimento %>
        <br>
        <%= form.date_select :data_nascimento, :start_year => Date.current.year, :end_year => 1930, class: "form-control text-center" %>
      </div>


      <div class="col col-lg-6">
        <%= form.label :logradouro %>
        <%= form.text_field :logradouro, class: "form-control text-center", id: "logradouro-input", placeholder: 'Rua do Rosário', maxlength: 80, size: 80 %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :bairro %>
        <%= form.text_field :bairro, class: "form-control text-center", id: "bairro-input", placeholder: 'Centro', maxlength: 60, size: 60 %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :numero %>
        <%= form.number_field :numero, class: "form-control text-center", min: 0, id: "numero-input", placeholder: '10' %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cidade %>
        <%= form.text_field :cidade, class: "form-control text-center", id: "cidade-input", placeholder: 'Rio de Janeiro', maxlength: 60, size: 60 %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :estado %>
        <%= form.text_field :estado, class: "form-control text-center", id: "estado-input", placeholder: 'Rio de Janeiro', maxlength: 40, size: 40  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cep %>
        <%= form.text_field :cep, class: "form-control text-center", id: "cep", placeholder: 'Digite apenas números', maxlength: 9, size: 9 %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :telefone_pessoal %>
        <%= form.text_field :telefone_pessoal, class: "form-control text-center", id: "telefone-pessoal", placeholder: 'Digite apenas números', maxlength: 14, size: 14 %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :telefone_referencia %>
        <%= form.text_field :telefone_referencia, class: "form-control text-center", id: "telefone-referencia", placeholder: 'Digite apenas números', maxlength: 14, size: 14%>
      </div>
      <div class="col col-lg-6">
        <%= form.label :salario %>
        <%= form.number_field :salario, min: 0, step: 0.01, class: "form-control text-center", id: "salario", placeholder: '2345,99' %>
      </div>
    </div>

    <div class="actions">
      <label>Desconto INSS</label>
      <span class="desconto_inss_span" id="desconto"><%= @proponente.desconto_inss %></span>
      <%= form.submit class:"btn btn-outline-primary", id:"form-submit-button" %>
    </div>
  </div>
<% end %>

<script>
  formatLabels();
  formatErrorMessage();
  $(document).on('keypress', '#nome-input', function (event){
    var regex = new RegExp("^[a-zA-Z ]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
        event.preventDefault();
        return false;
    }
  });

  let desconto_span = $('.desconto_inss_span');
  $('#salario').on('change', function() {
    let salario = $(this).val();
    salario = parseFloat(salario);
    salarioData = {
      salario: `${salario}`
    }
    $.ajax({
      type: "POST",
      url: '/calc/desconto/',
      data: salarioData,
      success: function(response){
        let desconto = response.desconto_inss
        $("#desconto").html(`${desconto}`);
      }
    });
    // let calcularDescontoRequest = new XMLHttpRequest();
    // calcularDescontoRequest.open('POST',`/calc/desconto/`);
    // calcularDescontoRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    // calcularDescontoRequest.send(JSON.stringify({ "salario" : `${salario}`}));
    // calcularDescontoRequest.onload = () => {
    //   console.log(calcularDescontoRequest.responseText);
      // let desconto_inss_calculado = JSON.parse(calcularDescontoRequest.responseText);
      // 
  });


  $(document).ready(function(){
    var maskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00)00000-0000' : '(00)0000-00009';
    },
    options = {onKeyPress: function(val, e, field, options) {
      field.mask(maskBehavior.apply({}, arguments), options);
      }
    }
    $('#telefone-pessoal').mask(maskBehavior, options);
    $('#telefone-referencia').mask(maskBehavior, options);
    $('#cep').mask('00000-000');
    $('#cpf').mask('000.000.000-00', {reverse: true});
  });
</script>
    