<%= form_for(@proponente, local: true) do |form| %>
  <div class="container" id="form-container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control text-center", id:"nome-input" %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, class: "form-control text-center", id: "cpf" %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :data_nascimento %>
        <br>
        <%= form.date_select :data_nascimento, :start_year => Date.current.year, :end_year => 1930, class: "form-control text-center" %>
      </div>


      <div class="col col-lg-6">
        <%= form.label :logradouro %>
        <%= form.text_field :logradouro, class: "form-control text-center", id: "logradouro-input"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :bairro %>
        <%= form.text_field :bairro, class: "form-control text-center", id: "bairro-input"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :numero %>
        <%= form.number_field :numero, class: "form-control text-center", min: 0, id: "numero-input"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cidade %>
        <%= form.text_field :cidade, class: "form-control text-center", id: "cidade-input"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :estado %>
        <%= form.text_field :estado, class: "form-control text-center", id: "estado-input"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cep %>
        <%= form.text_field :cep, class: "form-control text-center", id: "cep" %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :telefone_pessoal %>
        <%= form.text_field :telefone_pessoal, class: "form-control text-center", id: "telefone-pessoal"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :telefone_referencia %>
        <%= form.text_field :telefone_referencia, class: "form-control text-center", id: "telefone-referencia" %>
      </div>
      <div class="col col-lg-6">
        <%= form.label :salario %>
        <%= form.number_field :salario, min: 0, step: 0.01, class: "form-control text-center", id: "salario" %>
      </div>
    </div>

    <div class="actions">
      <label>Desconto INSS</label>
      <span class="desconto_inss_span" id="desconto"><%= @proponente.desconto_inss %></span>
      <%= form.submit class:"btn btn-outline-primary", id:"form-submit-button" %>
    </div>
  </div>
<% end %>

<script>
  formatLabels();
  formatErrorMessage();
  let desconto_span = $('.desconto_inss_span');
  $('#salario-input').on('change', function() {
    let salario = $(this).val();
    salario = parseFloat(salario);
    let calcularDescontoRequest = new XMLHttpRequest();
    calcularDescontoRequest.open('GET',`/calc/desconto/${salario}`);
    calcularDescontoRequest.onload = () => {
      console.log('salário mudou');
      let desconto_inss_calculado = JSON.parse(calcularDescontoRequest.responseText);
      desconto_span.innerHTML = desconto_inss_calculado;
    };
    calcularDescontoRequest.send();
  });

  $(document).ready(function(){
    var maskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00)00000-0000' : '(00)0000-00009';
    },
    options = {onKeyPress: function(val, e, field, options) {
      field.mask(maskBehavior.apply({}, arguments), options);
      }
    }
    $('#telefone-pessoal').mask(maskBehavior, options);
    $('#telefone-referencia').mask(maskBehavior, options);
    $('#cep').mask('00000-000');
    $('#cpf').mask('000.000.000-00', {reverse: true});
  });
</script>
    