<%= form_with(model: proponente, local: true) do |form| %>
  <% if proponente.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p class="text-danger"><%= pluralize(proponente.errors.count, "erro") %> impediram este proponente de ser criado:</p>
      </div>
    </div>
    <div class="message-body">
      <ul>
      <% proponente.errors.full_messages.each do |message| %>
        <% message.gsub('can\'t be blank'){'não pode ficar em branco'} %>
        <p><%= message %></p>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container" id="form-container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control" %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, class: "form-control"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :data_nascimento %>
        <br>
        <%= form.date_select :data_nascimento, class: "form-control"  %>
      </div>


      <div class="col col-lg-6">
        <%= form.label :logradouro %>
        <%= form.text_field :logradouro, class: "form-control"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :bairro %>
        <%= form.text_field :bairro, class: "form-control"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :numero %>
        <%= form.number_field :numero, class: "form-control", min: 0  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cidade %>
        <%= form.text_field :cidade, class: "form-control"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :estado %>
        <%= form.text_field :estado, class: "form-control"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :cep %>
        <%= form.text_field :cep, class: "form-control"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :telefone_pessoal %>
        <%= form.text_field :telefone_pessoal, class: "form-control"  %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <%= form.label :telefone_referencia %>
        <%= form.text_field :telefone_referencia, class: "form-control"  %>
      </div>

      <div class="col col-lg-6">
        <%= form.label :salario %>
        <%= form.number_field :salario, class: "form-control", min: 0, onchange:"computeDesconto()"%>
      </div>
      
    </div>

    <div class="actions align-items-center col col-lg-12">
        <%= form.label :desconto_inss %>
        <%= form.number_field :desconto_inss, class: "form-control", hidden: true ,disabled: true%>
      <%= form.submit class:"btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<script>
  formatLabels();
  formatErrorMessage();
  Number.prototype.round = function(places) {
    return +(Math.round(this + "e+" + places)  + "e-" + places);
  }
  $(document).ready(function(){
    $("#proponente_salario").on('change', function computeDesconto(){
      let salario = $(this).val();
      salario = parseFloat(salario);
      if(salario <= 1045.0){
        desconto = salario * 0.075
      } else if(salario > 1045.0 && salario <= 2089.6){
        primeiraFaixa = 1045.0 * 0.075
        segundaFaixa = (salario - 1045.0) * 0.09
        desconto = primeiraFaixa + segundaFaixa
      } else if (salario > 2089.6 && salario <= 3134.4){
        primeiraFaixa = 1045.0 * 0.075
        segundaFaixa = (2089.6 - 1045.0) * 0.09
        terceiraFaixa = (salario - 2089.6) * 0.12
        desconto = primeiraFaixa + segundaFaixa + terceiraFaixa
      } else if (salario > 3134.4 && salario <= 6101.06){
        primeiraFaixa = 1045.0 * 0.075
        segundaFaixa = (2089.6 - 1045.0) * 0.09
        terceiraFaixa = (3134.4 - 2089.6) * 0.12
        quartaFaixa = (salario - 3134.4) * 0.14
        desconto = primeiraFaixa + segundaFaixa + terceiraFaixa + quartaFaixa
      } else {
        primeiraFaixa = 1045.0 * 0.075
        segundaFaixa = (2089.6 - 1045.0) * 0.09
        terceiraFaixa = (3134.4 - 2089.6) * 0.12
        quartaFaixa = (6101.06 - 3134.4) * 0.14
        desconto = primeiraFaixa + segundaFaixa + terceiraFaixa + quartaFaixa
      }
    desconto = desconto.round(2);
    console.log("O desconto é de ", desconto);
    });
    
  });
</script>