<div class="container">
  <h1 class="text-center mr-4"><strong>Proponentes</strong></h1>
    <div class="container">
      <div class="card-columns">
        <% @proponentes.each do |proponente| %>
          <div class="card-container">
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Nome: </strong><%= proponente.nome %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>CPF: </strong><%= proponente.cpf %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Data de Nascimento: </strong><%= proponente.data_nascimento %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Logradouro: </strong><%= proponente.logradouro %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Número: </strong><%= proponente.numero %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Bairro: </strong><%= proponente.bairro %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Cidade: </strong><%= proponente.cidade %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Estado: </strong><%= proponente.estado %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>CEP: </strong><%= proponente.cep %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Telefone Pessoal: </strong><%= proponente.telefone_pessoal %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Telefone de Referência: </strong><%= proponente.telefone_referencia %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Salário: </strong>R$ <%= proponente.salario %></p>
                </h5>
              </div>
            </div>
            <div class="card text-white text-center p-3">
              <div class="card-body">
                <h5 class="card-title">
                  <p class="card-text"><strong>Desconto do INSS: </strong><%= proponente.desconto_inss %></p>
                </h5>
              </div>
            </div>
            <div class="card-button-container">
              <%= link_to 'Detalhes', proponente %> |
              <%= link_to 'Editar', edit_proponente_path(proponente) %> |
              <%= link_to 'Deletar', proponente, method: :delete, data: { confirm: 'Tem certeza que deseja deletar?' } %>
            </div>
          </div>
        <% end %>
</div>