<p id="notice"><%= notice %></p>

<h1>Proponentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Data nascimento</th>
      <th>Logradouro</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th>Telefone pessoal</th>
      <th>Telefone referencia</th>
      <th>Salario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proponentes.each do |proponente| %>
      <tr>
        <td><%= proponente.nome %></td>
        <td><%= proponente.cpf %></td>
        <td><%= proponente.data_nascimento %></td>
        <td><%= proponente.logradouro %></td>
        <td><%= proponente.numero %></td>
        <td><%= proponente.bairro %></td>
        <td><%= proponente.cidade %></td>
        <td><%= proponente.estado %></td>
        <td><%= proponente.cep %></td>
        <td><%= proponente.telefone_pessoal %></td>
        <td><%= proponente.telefone_referencia %></td>
        <td><%= proponente.salario %></td>
        <td><%= link_to 'Show', proponente %></td>
        <td><%= link_to 'Edit', edit_proponente_path(proponente) %></td>
        <td><%= link_to 'Destroy', proponente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proponente', new_proponente_path %>
