<!DOCTYPE html>
<html>
  <head>
    <title>Desconto Inss</title>
    <script>
      function noticeClear(){
        var notice = document.getElementById("notice");
        notice.remove();
      }

      function noticeTimeOut(){
        if (notice !== undefined){
            setTimeout(noticeClear, 3000);
        }
      }
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= javascript_include_tag 'application' %>
    <% if notice.present? %>
      <% noticeTimeOut() %>
      <div class="alert alert-success"><%= notice %> </div>
    <% end %>
    <div class="container">
      <%= yield %>
    <div>
  </body>
</html>
